@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f5f5f5;
	color: black;
	font-size: large;
}
.gap3 {
	gap: 116px;
}

.imgcls {
	height: 60px;
	width: 60px;
	margin: 20px;
}
